<div class="d-flex justify-content-between">
    <h1>Letter {{startWith}}</h1>
    <a href="/"><button class="btn-home"><i class="fa fa-home"></i> Home</button></a>
</div>
{{#if hasResults}}
{{#each book}}
<div class="row">
    <div class="col">
        <a href="/getBookDetail/{{this.book_id}}">{{this.title}}</a>
    </div>
</div>
{{/each}}
<div class="d-flex justify-content-between">
    <form action="/getBook/{{startWith}}" method="get">
        <input type="hidden" name="offset" value={{prevOffset}}>
        <button type="submit" class="btn btn-danger" {{#if offset}} {{else}} disabled {{/if}}>Previous</button>
    </form>
    <form action="/getBook/{{startWith}}" method="get">
        <input type="hidden" name="offset" value={{nextOffset}}>
        <button type="submit" class="btn btn-success" {{#if hasNext}} {{else}} disabled {{/if}}>Next</button>
    </form>       
</div> 
{{else}}
    <h2>There is no Results for Books with Letter/Number starting with {{startWith}}</h2>
{{/if}}
 